$tabs-bar-gradient: glossy;
$tabs-bottom-active-gradient: glossy;
$tabs-dark: rgba(195,180,139,1);
$tabs-dark-active-color: rgba(80,183,255,1);
$tabs-light: rgba(242,245,247,1);
$toolbar-base-color: rgba(195,180,139,1);
$toolbar-gradient: glossy;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


